@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark;
}

:root {
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --default-font-family: var(--font-inter), var(--font-sans);

  --breakpoint-xs: 30rem;

  --background-image-gradient-primary: linear-gradient(
    125deg,
    #632ee3 5.68%,
    #9f62f2 88.38%
  );

  --color-body: #627382;
  --color-heading: #001931;
}

@layer components {
  .active {
    @apply bg-gradient-primary bg-clip-text text-transparent underline decoration-[#9f62f2] underline-offset-4;
  }

  .heading-1 {
    @apply text-heading mb-4 text-4xl font-bold sm:text-6xl;
  }
}

@utility heading-2 {
  @apply text-heading text-2xl font-bold sm:text-4xl;
}
@utility heading-3 {
  @apply text-heading text-3xl font-bold;
}
@utility heading-4 {
  @apply text-heading text-2xl font-semibold;
}
@utility heading-5 {
  @apply text-heading text-xl font-medium;
}
